language: go
sudo: false
notifications:
  email: false
go:
  - 1.9
os:
  - linux
  - osx
jobs:
  include:
    - stage: test
      install:
        - npm install -g codeclimate-test-reporter
        - go get -u github.com/alecthomas/gometalinter
        - gometalinter --install
        - go get -u github.com/golang/dep/cmd/dep
        - dep ensure
      script:
        - go build -race -v -gcflags "-N -l" .
        - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; go build --gcflags "-dynlink" --buildmode=plugin ./plugin; fi
        - gometalinter --fast --exclude=corefoundation.go --deadline=360s --enable-gc --sort=path --vendor --cyclo-over=40 --dupl-threshold=100 --disable=gotype ./...